:root {
   --main-bg-color:rgb(38, 38, 38);
   --main-text-color: #efefef;
   --bse-yellow: #f0d04e;
 }


.bg-grey {
   background-color: var(--main-bg-color);
}

.ia_splide-progress {
   background: #ccc;
 }
 
 .ia_splide-progress-bar {
   background: var(--bse-yellow);
   height: 2px;
   transition: width 400ms ease;
   width: 0;
 }

.splide__arrows {
   position: absolute;
   bottom: 10px;
   right: 10px;
}

.left_content {
   color: var(--main-text-color);
   word-wrap: break-word;
}

.splide__content {

}

.left_content :is(h1, h2, h3, h4, h5, h6) {
   color: var(--main-text-color);
}