:root {
   --main-bg-color:rgb(38, 38, 38);
   --main-text-color: #efefef;
   --bse-yellow: #f0d04e;
 }


.bg-grey {
   background-color: var(--main-bg-color);
}

.ia_splide-progress {
   background: #ccc;
 }
 
 .ia_splide-progress-bar {
   background: var(--bse-yellow);
   height: 2px;
   transition: width 400ms ease;
   width: 0;
 }

.splide__arrows{
   position: absolute;
   bottom: 10px;
   right: 10px;
}